.input-calendar {
    margin: 10px auto;
    border: none;
    border-bottom: 1px solid $che_primary;
    padding-bottom: 0.2em;

    &__label {
        font-family: $che_font_family;
        font-size: $che_font_size;
        text-align: center;
        margin-bottom: 0.1em
    }

    &__picker {
        font-family: $che_font_family;
        font-size: $che_font_size;
        padding: 6px;
        width: 100%;
        box-sizing: border-box;

        padding: 0.3em 0.35em 0.3em 3em;
        text-align: center;
        font-weight: bold;
        font-size: 1em;
        background: transparent url('input-calendar.svg') no-repeat 0 0;
        background-size: 1.875em 1.875em;
        color: $che_text_color;
    }

    & .input__control {
        border: none;
        width: 100%;
        box-sizing: border-box;
        font-size: 1em;
        font-weight: bold;
        color: $che_text_color;
    }

    & .input_disabled .input__control {
        color: #999;
        background-color: #fff;
    }

    & .input__control:focus,
    & .input__control:active {
        outline: none;
    }

    .input__calendar {
        background: none;
    }
}
