.where {
  display: block;
  box-sizing: border-box;
  width: 100%;
  min-height: 50px;
  padding: 0.3em 0.35em 0.4em 2em;
  border-bottom: 1px solid $che_primary;
  background: transparent url(where.svg) no-repeat left 0 bottom 0.7em;
  background-size: 1.875em 1.7em;
}
