.checkbox {
    display: block;
    width: 78%;
    text-align: center;
    margin: 15px auto;
    font-family: $che_font_family;
    font-size: $che_font_size;
    position: relative;

    &_checked {
        .checkbox__box:after {
            content: '\2713';
            background: #eee;
        }
    }

    &__control {
        position: absolute;
        z-index: -1;
        visibility: hidden;
    }

    &__box {
        display: inline-block;

        &:after {
            cursor: pointer;
            line-height: 0.8em;
            display: inline-block;
            margin: 0.2em 0.2em 0.3em;
            content: ' ';
            width: 0.8em;
            height: 0.8em;
            font-size: 1.6em;
            vertical-align: middle;
            border-radius: 6px;
            background: #fff;
            box-shadow: inset 0 0 1px 1px rgba(0,163,183,0.9);
        }
    }
}
