.header {
    padding: 0;
    display:block;
    min-width: $che_min_inner_width;
    height: 64px;
    background-color: #fff;
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0,163,183,0.8);
    text-shadow: none;

    &_hidden {
        display: none;
    }

    &__inner {
        max-width: $che_max_inner_width;
        margin: 0 auto;
        position: relative;
    }

    &__menu-icon, &__phone {
        position: absolute;
        display: block;
        width: 64px;
        height: 64px;
        text-align: center;
        box-sizing: border-box;
        top:0;
    }

    &__menu-icon {
        padding-top: 7px;
        left: 0;

        .icon {
            background: transparent url('info.svg') no-repeat 0 0;
            height: 35px;
            width: 35px;
        }
    }

    &__phone {
        padding-top: 7px;
        right: 0;

        .icon {
            background: transparent url('phone.svg') no-repeat 0 0;
            height: 35px;
            margin-top: 2px;
            width: 33px;
        }
    }

    &__logo {
        margin: 4px auto 0;
        padding: 0;
        border: 0;
        width: 180px;
        height: 50px;
        display: block;
        /* http://stylus-lang.com/docs/functions.url.html */
        /* Stylus is bundled with an optional function named url(), which replaces the literal url() calls (and conditionally inlines them using base64 Data URIs) */
        background-image: url(header__logo.png);
        retina-image(url(header__logo@2x.png), 180px, 50px);
    }
}
