.input-text {
    & .input__control {
        border: 1px solid $che_primary;
        border-radius: $che_border_radius;
        width: 100%;
        padding: 0.3em 0.5em 0.35em;
        box-sizing: border-box;
        font-size: 1em;
        font-weight: bold;
        color: #2b2b2b;
    }

    & .input__control:focus,
    & .input__control:active {
        outline: none;
    }
}
